*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #26272C;
	font-family: 'Monaco', 'Consolas', 'Lucida Console', monospace;
	color: #57B63C;
}

#main-area{
	background-color: #26272C;
	width: 100%;
	box-sizing: border-box;
	padding: 20px;
	padding-bottom: 70px;
}

#main-area p{
	font-family: 'Monaco', 'Consolas', 'Lucida Console', monospace;
	font-size: 22px;
	margin-top: 15px;
}

#main-area p:first-child{
	margin-top: 0;
}

.command-wrapper{
	height: 50px;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	margin-bottom: -50px;
	transition: .5s;
}

.input-arrow{
	width: 44px;
	height: 100%;
	font-size: 22px;
	box-sizing: border-box;
	padding-left: 20px;
	line-height: 50px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 3;
	float: left;
}

.send{
	width: 40px;
	height: 100%;
	border: 0;
	background-color: #0D0D0D;
	font-size: 15px;
	cursor: pointer;
	box-sizing: border-box;
	color: #57B63C;
	font-family: 'Monaco', 'Consolas', 'Lucida Console', monospace;
	padding-left: 12px;
	line-height: 50px;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 3;
	float: right;
}

#command-line{
	background-color: #121315;
	font-family: 'Monaco', 'Consolas', 'Lucida Console', monospace;
	color: #57B63C;
	height: 100%;
	width: 100%;
	font-size: 22px;
	outline: none;
	border: none;
	padding-left: 44px;
	box-sizing: border-box;
	display: block;
	float: left;
}

#command-line:active{
	outline: none;
	border: none;
}

::-webkit-scrollbar {background: gray;   width: 12px; border-radius:10px;}
::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); border-radius: 10px;}
::-webkit-scrollbar-thumb { background-color: rgba(0, 0, 0, 0.4); -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.4); border-radius: 10px;}
::-webkit-scrollbar-thumb:hover {background-color: rgba(0, 0, 0, 0.4);}